<%- include('header') %>

<h1 class="signinheader">发布文章</h1>
<form method="post">
    <div class="form-group">
        <label for="category">category</label>
        <input type="text" class="form-control" name="category" id="category" value="<%= article.category %>">
    </div>
    <div class="form-group">
        <label for="title">title</label>
        <input type="text" class="form-control" name="title" id="title" value="<%= article.title %>">
    </div>
    <div class="form-group">
        <label for="content">content</label>
        <textarea class="form-control" rows="20" name="content" id="content"><%= article.content %></textarea>
    </div>
    <button type="submit" class="btn btn-default">update</button>
</form>

<%- include('footer') %>